asgiref==3.8.1
beautifulsoup4==4.13.4
certifi==2025.1.31
charset-normalizer==2.0.12
Django==3.2.19
django-bootstrap-v5==1.0.11
django-cors-headers==4.5.0
django-environ==0.10.0
django-filter==21.1
django-fullurl==1.4
django-pandas==0.6.7
django-paypal==2.1
django-phonenumber-field==7.1.0
django-sendgrid-v5==1.2.0
django-storages==1.12.3
djangorestframework==3.13.1
djangorestframework-datatables==0.7.0
ecdsa==0.19.1
fontawesomefree==6.4.2
git-filter-repo==2.47.0
idna==3.10
MarkupSafe==3.0.2
numpy==2.2.5
pandas==2.2.3
phonenumbers==9.0.5
pillow==11.2.1
pycryptodome==3.22.0
python-dateutil==2.9.0.post0
python-http-client==3.3.7
pytz==2025.2
requests==2.27.1
sendgrid==6.12.2
six==1.17.0
soupsieve==2.7
sqlparse==0.5.3
typing_extensions==4.13.2
tzdata==2025.2
urllib3==1.26.20
Werkzeug>=3.0.0
gunicorn
