{% extends 'base.html' %}

{% block content %}

<!-- Header-->
<header style="background: url('/static/assets/tienda.jpg') center/cover no-repeat;" class="bg-dark py-5">
    <div style="height: 150px !important;" class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us...</h1>
            <p class="lead fw-normal text-white-100 mb-0">Welcome to Prisma Ecommerce</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <p align="justify">
                    <br>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam mattis nibh at lectus laoreet, sit amet ullamcorper neque accumsan. Donec euismod porta erat, in blandit orci. In eget nibh et neque accumsan consectetur. Proin dignissim dictum tellus et scelerisque. Vivamus elementum venenatis nunc, in finibus dui cursus ut. Donec ex nibh, pulvinar quis ipsum et, sollicitudin accumsan nisl. Maecenas rhoncus sit amet lectus nec lacinia. Aenean justo mi, accumsan quis lorem id, mollis malesuada nulla. Maecenas fermentum leo a semper vulputate. Etiam ut tellus iaculis, interdum nulla vel, aliquam odio. Morbi ut odio molestie, interdum magna a, gravida arcu.
                    <br>
                    Nunc sed dictum mi, ac ultrices orci. Aliquam vitae nisi quis ipsum lobortis tristique. Nam odio tortor, tempor eu libero at, luctus ullamcorper neque. Mauris nec placerat sapien, sed vulputate libero. Vestibulum sed dapibus turpis, a consequat purus. Aliquam gravida lorem est, eget consequat odio pharetra cursus. Morbi venenatis nunc justo, non gravida enim molestie in. Curabitur in nibh in quam ullamcorper tempor eu et velit.
                    <br>
                    Proin imperdiet id massa vitae consectetur. In ut arcu vehicula, mollis magna id, elementum nisi. Nulla condimentum posuere maximus. Aliquam dignissim semper nisi. Nulla quis nulla convallis, congue neque finibus, vehicula ex. Phasellus ultricies neque bibendum libero egestas, eget pellentesque felis elementum. Maecenas aliquet neque odio, in vulputate purus pulvinar quis. Praesent laoreet pretium justo, ac dignissim urna. Proin volutpat, justo sit amet hendrerit porttitor, tellus mi iaculis turpis, a sollicitudin sapien urna vitae elit. Maecenas eget ligula sollicitudin libero finibus hendrerit id id ligula. Quisque vel ex in mauris dapibus consequat. Sed faucibus leo augue, quis pulvinar nisi sodales eget. Integer id libero lorem. Aliquam erat volutpat. Fusce est metus, rutrum a enim lacinia, pretium hendrerit augue.
                    <br>
                    Integer fringilla vehicula felis sed porta. Sed lectus nunc, eleifend sed fermentum vel, efficitur ac velit. Integer ut neque metus. Donec velit leo, facilisis a euismod ac, ullamcorper ac nisi. Praesent non placerat justo. Mauris mattis, felis non dapibus gravida, sapien nulla placerat turpis, sed imperdiet lacus elit ac urna. Vestibulum eu tortor eget massa interdum egestas. Ut scelerisque dolor vel erat sollicitudin maximus vitae vel leo. Aliquam vulputate iaculis enim, id facilisis metus tempor ut. Cras ut vestibulum ipsum, et varius nulla. Aliquam erat volutpat. Suspendisse potenti.
                    <br>
                    Vivamus tellus lorem, molestie vitae tristique at, iaculis vel erat. Proin ligula ante, aliquet id lorem sit amet, mollis pretium erat. Ut ac placerat neque. Aliquam faucibus, ipsum id feugiat laoreet, ligula velit elementum mauris, ut efficitur leo odio vel nunc. Nunc vehicula, risus nec sodales vehicula, diam magna mattis mi, ac sodales mi lectus non lacus. Vivamus et ornare erat, sit amet finibus ligula. Fusce auctor enim turpis, et mattis tellus tristique ut. Cras eu lorem in lorem blandit cursus eget ut diam. Suspendisse nibh dui, sagittis vel velit gravida, dapibus eleifend mi. Vivamus ante risus, vulputate et dapibus vel, sollicitudin ut diam. Integer mattis tempor nunc faucibus tempor.
                </p>
                <br><br>
            </div>
        </center>
    </div>
</div>

{% endblock %}