{% extends 'base.html' %}

{% block content %}

<!-- Header-->
<header style="background: url('/static/assets/rojo.jpg') center/cover no-repeat; min-height: 200px;" class="d-flex justify-content-center align-items-center">
    <div class="text-center text-white">
        <h1 class="display-4 fw-bolder"><i class="bi bi-shop"></i>  Shop in stylex</h1>
        <p class="lead fw-normal text-white-50 mb-0">With this shop homepage template</p>
    </div>
  </header>

<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                {% for category in categories %}
                    <h3><a href="{% url 'category' category %}">{{ category }}</a></h3>
                {% endfor %}
                <br><br>
            </div>
        </center>
    </div>
</div>

{% endblock %}