{% extends 'base.html' %}
{% block content %}

        <!-- Header-->
        <header style="background: url('/static/assets/fondo1.jpg') center/cover no-repeat; min-height: 200px;" class="bg-dark d-flex justify-content-center align-items-center">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Shop in style</h1>
                <p class="lead fw-normal text-white-150 mb-0">With this shop homepage template</p>
            </div>
        </header>
        
        
        <!-- Section-->
        <section style="position: relative; overflow: hidden;" class="py-5">
            <div style="background: null"></div>
            
            <div style="position: relative; z-index: 1;">
                <div class="container-fluid px-4 px-lg-5 mt-5" >
                    <div class="row gx-4 gx-lg-5 row-cols-1 row-cols-md-3 row-cols-xl-5 justify-content-center">

                        {% for product in products %}
                            {% if product.is_sale %}

                                <div class="col mb-5">
                                <div class="card h-100">
                                    <div class="badge bg-light text-black position-absolute" style="top: 0.5rem; right: 1rem;">
                                        sale
                                    </div>
                                    <!-- Product image-->
                                    <img style="height: 200px !important;"  class="card-img-top" src="{{ product.image.url }}" alt="..." />
                                    <!-- Product details-->
                                    <div class="card-body p-4">
                                        <div class="text-center">
                                            <!-- Product name-->
                                            <h5 class="fw-bolder">{{ product.name }}</h5>
                                            <h6 class="text-danger fw-semibold mb-1"><i class="bi bi-person-circle"></i> {{ product.user.username }}</h6>
                                            <div class="d-flex justify-content-center small text-warning mb-2">
                                                <div class="bi-star-fill"></div>
                                                &nbsp;&nbsp;Sale&nbsp;&nbsp;
                                                <div class="bi-star-fill"></div>
                                            </div>
                                            <!-- Product price-->
                                            <strike>{{ product.price }}</strike>
                                            &nbsp;
                                            {{ product.sale_price }}
                                            <br/>
                                            {{ product.description }}
                                        </div>
                                    </div>
                                    <!-- Product actions-->
                                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                        <div class="text-center"><a style="background-color: #d70000 !important; border-color: #d70000; color: #ffffff;" class="btn btn-outline-dark mt-auto" href="{% url 'product' product.id %}">View Product</a></div>
                                    </div>
                                </div>
                                </div>
                            {% else %}
                            <div class="col mb-5">
                            <div class="card h-100">
                                <!-- Product image-->
                                <img style="height: 200px !important;" class="card-img-top" src="{{ product.image.url }}" alt="..." />
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <!-- Product name-->
                                        <h5 class="fw-bolder">{{ product.name }}</h5>
                                        <a class="username-blog" href="{% url 'user_information' product.user.username %}">{{product.user.username}}</a><br><br>
                                        <!-- Product price-->
                                        <strike>{{ product.price }}</strike>
                                        &nbsp;
                                        {{ product.sale_price }}
                                        <br/>
                                        {{ product.description }}
                                    </div>
                                </div>
                                <!-- Product actions-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <div class="text-center"><a style="background-color: #d70000 !important; border-color: #d70000; color: #ffffff;" class="btn btn-outline-dark mt-auto" href="{% url 'product' product.id %}">View Product</a></div>
                                </div>
                            </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
{% endblock %}