{% extends 'base.html' %}

{% block content %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Update info</h1>
            <p class="lead fw-normal text-white-50 mb-0">Update User xInfo...</p>
        </div>
    </div>
</header>
<section style="background: url('/static/assets/azul.jpg') center/cover no-repeat;"   class="py-5">
    <div class="container">
    <div class="row">
            <br/><br/>
            <br/><br/>
            <br/><br/>
            <div class="col-md-6 offset-md-3">
                <strong>Billing Information</strong>
                <br/><br/>
                <form method="POST" action="{% url 'update_info' %}">
                    <br/><br/>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <br/><br/>
                    <strong>Shiping Information</strong>
                    <br/><br/>
                    {{ shipping_form.as_p}}
                    <br/><br/>
                    <button type="submit" class="btn btn-secondary">Update Profile</button>
                  </form>
                <br/><br/>
                
                <br/><br/>
                <br/><br/>
                <br/><br/>
                

            </div>
    </div>
    </div>
</section>

{% endblock %}